div.thing {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 10px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #135557;
}

div {
  padding: 0px;
  margin: 5px;
  border-style: solid;
  border-radius: 30px;
  border-color: #C0DAD5;
}

img.house {
  height: auto;
  width: 100%;
  border-radius: 30px;
  display: block;
  margin: auto;
}

@keyframes bgcolor {
    0% {filter: hue-rotate(0deg)}

    25% {filter: hue-rotate(90deg)}

    50% {filter: hue-rotate(180deg)}

    75% {filter: hue-rotate(240deg)}

    100% {filter: hue-rotate(360deg)}
}

img.pinnaple {
  animation: bgcolor 5s infinite;
  animation-direction: alternate;
}
